# Ignore node_modules of root folder
node_modules/

# Ignore node_modules and .env of frontend folder
frontend/node_modules
frontend/.env

# Ignore node_modules and .env of backend folder
backend/node_modules
backend/.env
